h1{
    font-size: 70px;
    top: 0%;
    right: 50%;
}

a{
    text-decoration:none;
    color: black;
}
nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
}

nav .profile{
    display: flex;
    align-items: center;
}

nav .profile img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

nav .profile h1{
    margin-left: 10px;
    font-size: 25px;
}


nav ul{
    display: flex;
    list-style-type: none;
}
nav ul li{
    margin-left: 20px;
    cursor: pointer;
    border-bottom: 1px solid white;
}

nav ul li:hover{
    border-bottom: 1px solid black;
}

.row .item{
    width: 30%;
    margin-right: 3%;
    float: left;
    background-color: white;
    text-align: center;
}

.row .item img{
    width: 300px;
}

.row .item h1{
    font-size: 22px;
}

.titre{
    text-align: center;
}

.titre h1{
    color: rgb(119, 114, 114);
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 20px;
}

.row2 .item{
    width: 30%;
    margin-top: 150px;
    margin-right: 3%;
    float: left;
    background-color: white;
    text-align: center;
}

.row2 .item img{
    width: 400px;
}

.row2 .item h1{
    font-size: 22px;
}


.exp1 .textinf {
    float: left;
    width: 40%;
    margin-right: 36px;
    text-align: right;
    margin-bottom: 100px;
}

.exp1 .imginfo{
    float: left;
    width: 50%;
}

.exp1 .imginfo img{
    height: 160px;
    width:280px;
    border-radius: 30%;
    margin-bottom: 100px;
}


.exp2 .textinf {
    float: right;
    width: 40%;
    margin-left: 36px;
    text-align: left;
    margin-bottom: 100px;
}

.exp2 .imginfo{
    float: right;
    width: 307px;
}

.exp2 .imginfo img{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    margin-top: 0%;
    margin-bottom: 100px;
}

