@font-face {
    font-family: 'SuperPolice';
    src: url("../ressources/Polices/Oswald-VariableFont_wght.ttf") format('truetype');
}

a{
    text-decoration:none;
    color: black;
}
h1{
    font-family: 'SuperPolice';
}
body
{

    /* background-color: black; */
    padding: 0 2%;
    margin: 0;

}
nav
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
}

nav .profile{
    display: flex;
    align-items: center;
}

nav .profile img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

nav .profile h1{
    margin-left: 10px;
    font-size: 25px;
}


nav ul{
    display: flex;
    list-style-type: none;
}
nav ul li{
    margin-left: 20px;
    cursor: pointer;
    border-bottom: 1px solid white;
}

nav ul li:hover{
    border-bottom: 1px solid black;
}

/* Pour mettre sur téléphone le nom et image au milieu */


.contenu_page{
    margin: 4%;
}
.contenu_page header{
    margin-top: 3%;
    max-width: 100%;
}

.contenu_page header h1{
    margin: 0;
    font-size: 4.5vw;
}

.contenu_page header p{
    line-height: 30px;
    font-size: 30px;
    color: grey;
}

.contenu_page header button{
    background-color: inherit;
    border: none;
    outline: none;/* Pour enlever la bordure lors du click */
    padding-left: 0;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid grey;
    cursor: pointer;
}

.contenu_page header button:hover{
    color: grey;
    border-bottom: black;
}

.contenu_page .image{
    margin-top: 3%;
    text-align: center;
}

.contenu_page .image img{
    max-width: 100%;
    height: auto;
}


.contenu_page .Projets{
    margin-top: 5%;
}

.contenu_page .Projets h1{
    font-size: 3vw;
}

.contenu_page .Projets .colones{
    display: flex;
    flex-wrap: wrap;
    gap: 10%;
}

.contenu_page .Projets .projet{
    margin-right: 1%;
    max-width: 200px;
}


.contenu_page .Projets .projet h4{
    margin: 0;
    font-size: 25px;
}

.contenu_page .Projets .projet .description{
    font-size: 20px;
}


.contenu_page .Projets .projet .date{
    display: block;
    font-size: 13px;
    color: rgb(119, 114, 114);
}




/* Responsive pour les téléphones */
@media screen and (max-width: 700px) {
    nav{
        justify-content: center;
    }
    nav ul{
        display: none;
    }
    
    .contenu_page header{
        margin-top: 10%;
        max-width: 100%;
        text-align: center;
    }

    .contenu_page .Projets{
        margin-top: 15%;
    }

    .contenu_page .Projets h1{
        font-size: 1.9em;
    }

    .contenu_page.Projets .projet{
        margin-right: 0;
        margin-bottom: 18px;
        max-width: 100%;
    }
}   














.tête{
    background-image: url("../ressources/images/tests/securité-informatique.png");
}

.menus{
    margin: 0 auto;
    width: 1170px;
    float:left;
}
.Menu{
    float: right;
}